fastapi==0.115.0
uvicorn[standard]==0.30.6
python-dotenv==1.0.1
pydantic==2.9.1
pydantic-settings==2.6.1
SQLAlchemy==2.0.35
psycopg[binary,pool]==3.2.3
passlib==1.7.4
PyJWT==2.9.0
reportlab==4.1.0
cloudinary==1.41.0
python-multipart==0.0.9
pydantic[email]==2.9.1

